a:link{
	color:#1B6384;
	text-decoration:underline;
}
a:visited{
	color:#1B6384;
	text-decoration:underline;
}
a:active{
	color:#1B6384;
	text-decoration:underline;
}
a:hover{
	color:#3B96BF;
	text-decoration:none;
}
a.red{
	color:#CC0000;
}



.color2{
	font-size:10pt;
	font-weight:bold;
	color:#69838F;
	background-color:#F4F5F7
}
.text_bold{
	font-size:10pt;
	font-weight:bold;
	color:#666666;
	padding-bottom:3px
}
.title{
	background-image:url(../images/title.gif);
	background-repeat:no-repeat;
	height:113px;
	width:813px
}
.gray{
	background-color:#717171;
	font-size:11pt;
	color:#FFFFFF;
	font-weight:bold;
	height:20px
}
.gray2{
	background-color:#C9C9C9;
	font-size:10pt;
	color:#666666;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center
}
.gray3{
	font-size:10pt;
	color:#666666;
	background-color:#DDE3E6;
	padding-left:5px;
	line-height:1.3em
}
.button{
	border-color:#CCCCCC #CCCCCC #CCCCCC #CCCCCC;
	height:20px;
	border:#CCCCCC none;
	padding-top:2px
}
.gray4{
	font-size:10pt;
	color:#666666;
	background-color:#EEEEEE;
	border:1px #CCCCCC dotted
}
.dots{
	border:#CCCCCC dotted;
	border-width:0px 1px
}.text{
	font-size:10pt;
	line-height:1.5em;
	color:#404040;
	padding-top:2px;
	padding-bottom:2px
}
.color1{
	background-color:#EDF0F1;
	color:#666666;
	padding-left:5px;
	padding-top:1px;
	padding-bottom:1px;
	font-size:10pt;
	line-height:1.5em
}
.table{
	border:#FFFFFF;
	border-style:solid;
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px
}
.gray3_dark{
	background-color:#C7D0D6;
	padding-top:2px;
	padding-left:2px;
	color:#666666;
	text-align:center
}
.grayCopy{
	background-color:#556699;
	font-size:11pt;
	color:#FFFFFF;
	font-weight:bold;
	height:20px 
}
.blue{
	background-color:#556699;
	font-size:11pt;
	color:#FFFFFF;
	font-weight:bold;
	height:20px 
}
.text00{
	font-size:10pt;
	color:#999999
}
.text_right{
	font-size:10pt;
	color:#666666;
	text-align:right
}
.color3_center{
	font-size:10pt;
	color:#FFFFFF;
	background-color:#A8C0CE;
	text-align:center
}
.gray4_{
	font-size:10pt;
	color:#666666;
	background-color:#EEEEEE;
	padding-left:5px
}
.blue2{
	font-size:10pt;
	color:#40536A;
	height:20px;
	width:90%;
	padding-left:10px;
	border-color:black black #A3B5BC;
	border-style:dotted;
	border-top-width:0px;
	border-right-width:0px;
	border-bottom-width:1px;
	border-left-width:0px
}
.text_red{
	font-size:10pt;
	line-height:1.5em;
	color:#CC0000;
	padding-top:2px;
	padding-bottom:2px 
}
.frame{
	border:#CCCCCC;
	border-style:solid;
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	background-color:#F5F7F8
}
.frame2{
	border:#CCCCCC;
	border-style:solid;
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	background-color:#ECF0F2
}
.gray2_{
	background-color:#C9C9C9;
	font-size:10pt;
	color:#666666;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	padding-right:5px
}
.gray3_dark_left{
	background-color:#C7D0D6;
	padding-top:5px;
	padding-left:10px;
	color:#666666;
	vertical-align:top;
	font-size:10pt
}

div.repage	{
	page-break-before:always 
}
.gray3_dark_left_no_margine{
	background-color:#C7D0D6;
	color:#666666;
	vertical-align:top;
	padding-top:5px
}
.color1_center{
	background-color:#EDF0F1;
	color:#666666;
	padding-left:5px;
	padding-top:1px;
	padding-bottom:1px;
	font-size:10pt;
	line-height:1.5em;
	text-align:center
}
.color1_center_bold{
	background-color:#EDF0F1;
	color:#666666;
	padding-left:5px;
	padding-top:1px;
	padding-bottom:1px;
	font-size:10pt;
	line-height:1.5em;
	text-align:center;
	font-weight:bold
}
